.clock {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
}

    .clock > .time {
        display: inline-block;
        width: 25%;
        float: left;
        margin: 20px 0;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 64px;
            line-height: 60px;
            font-weight: bold;
        }
        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }

  .clock > .time .value{
display: inline-block;
color: white;
width: 100%;
font-size: 40px;
font-weight: 900;
 
  }
  .clock > .time .lable{
      display: inline-block;
      font-size: 20px;
  } 

  @media (max-width: 700px){

  }
@media (max-width: 700px) {
    .clock > .time {
        width: 50%;
    }
}