.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
    /* background-color: bisque; */
}
.container.footer {

    background-color: darkblue;
    padding-top: 10px;
    padding-bottom: 80px;
   }
   .container.hero {

    background-color: darkblue;
    background-image: url(../img/Merknad_2020-02-24_125822.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 20px;

   }
   .container.content{

    
    padding-top: 80px;
    padding-bottom: 80px;
   }
  .container > .hero-row {
       display: inline-block;
       width: 600px;
       margin-left: calc(50% - 300px);
     

  }
  .container > .row {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: cadetblue;

  }
.container .row .right{
    display: inline-block;
    width: 40%;
   
    float: right;
}
.container .row .left{
    display: inline-block;
    width: 50%;

    float: left;
}
 
@media   (max-width: 1100px) {
    .container > .row {
        
        width: 800px;
        margin-left: calc(50% - 400px);
       background-color: burlywood;
}
@media (max-width: 900px) {
    .container > .row {
        
        width: 600px;
        margin-left: calc(50% - 300px);
     
}
@media (max-width: 700px) {
    .container > .hero-row .container.row {
        
        width: 600px;
        margin-left: calc(50% - 300px);
 
    }
       .container .row .right{
        width: 40%;
        float: right;
    }
        .container .row .left{ 
            width: 50%;
            float: left;
    }

    }

       
}
